@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


* {
    margin: 0;
    padding: 0;
    font-family: 'calibri';
    box-sizing: border-box;
}

body {
    background-image: url('/Simple_Login&SignUp/img/a.png');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container {
    min-height: 100vh;
    min-width: 450px;

}

.centered-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 400px;
    height: 480px;
    display: grid;
    position: relative;
}

.icon {
    position: absolute;
    width: 85px;
    font-size: 50px;
    display: grid;
    height: 85px;
    place-content: center;
    border: 1px solid #2a2a2a;
    z-index: 1;
    justify-self: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fa {
    color: black;
    backrounf: black ;
}
